apiVersion: v1
kind: Service
metadata:
  name: kaldra-core
  namespace: kaldra
  labels:
    app: kaldra-core
spec:
  type: ClusterIP
  ports:
  - port: 9000
    targetPort: 9000
    protocol: TCP
    name: http
  selector:
    app: kaldra-core
